.portfolio_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    
}

#dark .portfolio_item{
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

#light  .portfolio_item{
    background: var(--color-primary-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

#dark .portfolio-sub{
    color: var(--color-primary-variant);
}

#dark .portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
    /* color: var(--color-bg); */
}

#light .portfolio-sub{
    color: var(--color-bg);
}

#light .portfolio_item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;
    color: var( --color-bg-variant);
}


.portfolio_item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}

.portfolio_item h3{
    margin: 1.2rem 0 2rem;
}

#dark .portfolio_item-cta{
    /* display: flex; */
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-light);
}


#light .portfolio_item-cta{
    /* display: flex; */
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--color-light);
}
#light .portfolio_item-cta:hover{

    color: var(  --color-bg-variant);
}


    


/*medium deivces*/
@media screen and (max-width: 1024px){
    .portfolio_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
   }
   
   
   /*small deivces*/
   @media screen and (max-width: 600px){
     .portfolio_container{
        grid-template-columns: 1fr;
        gap: 1rem;
     }
   }