header{
    height: 100vh;
    padding-top: 2.8rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/*CTA*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

#dark .text-two , .text-light{
  font-size: 1rem;
}

#light .text-two , .text-light{
  font-size: 1rem;
  color: var( --color-bg);
}

#light .animate-character{
color: var( --color-primary-variant);
}
/* .animate-character
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 3rem;
    
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */

/*social*/

 .header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

 .header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

#dark .me{
    background: linear-gradient(var(--color-primary), transparent);
    width: 20rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 19rem 19rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

#light .me{
  background: linear-gradient(var(--color-primary), transparent);
  width: 20rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 19rem 19rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}



/*scorll*/

 .scroll_down{
    position: absolute;
    right: -1.6rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1rem;
}

#light .text-light{
  color: var(--color-bg);
}

/*medium deivces*/
@media screen and (max-width: 1024px){
   #dark header{
    height: 68vh;
   }
   #light header{
    height: 68vh;
   }
}


/*small deivces*/
@media screen and (max-width: 600px){
   #dark header{
    height: 100vh;
   }

   #dark .header_socials, .scroll_down{
    display: none;
   }

   #light header{
    height: 100vh;
   }

   #light .header_socials, .scroll_down{
    display: none;
   }
}